.edit_business_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60vh;
    background-color: rgb(121, 121, 121);
    border-radius: 15px;
}
