
.splashPic{
    width: 100%;
    object-position:  100% 100%;
    position: absolute
}

.splashPicContainer{
    width:100%;
    height: calc(100vh - 72px);
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.splashText{
    position: absolute;
    margin-top: 80px;
    color:white;
    width: 100%;
}

.splashTitle{
    font-size: 40px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.4;
}

.splashSpan{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
}

.imageOverlay{
    width:100%;
    height: calc(100vh - 72px);
    position: absolute;
    background: linear-gradient(rgba(15,15,15,0.3), rgba(15,15,15,0.3));
}
