.businessContainer {
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    border: 7px solid #997705;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.24);
    width: 400px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}
.businessContainer:hover {
    box-shadow: 7px 7px rgba(0, 0, 0, 0);

}
.name {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: rgb(0, 71, 6);
}
.street {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
    color: rgb(0, 71, 6);
    font-weight: 900;
}

.img {
    height: 200px;
    width: 200px;
}
.imgContainer {
    display: flex;
    justify-content: center;
    padding: 4px;
}
.link {
    text-decoration: none;
    color: rgb(0, 71, 6);
    padding: 5px;
    font-weight: 900;
}

.link:hover {
    color: #997705;
    border-radius: 5px;
}
