.businesses_container{
    margin: none;
}

.feedWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.548);
}


.businessCard{
    margin-top: 20px;
    height: 500px;
    width: 500px;
}


.createButton {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.548);
    margin-top: 85px;
}
