.businessContainer {
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    box-shadow: 7px 7px rgb(0, 71, 6);
    border: 7px solid #997705;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.24);
    width: 400px;
    height: 400px;
}
.businessContainer:hover {
    box-shadow: 7px 7px rgba(0, 0, 0, 0);

}
.name {
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.street {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
    color: black;
}

.img {
    height: 200px;
    width: 200px;
}
.imgContainer {
    display: flex;
    justify-content: center;
    padding: 4px;
}
.link {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.link:hover {
    background-color: black;
    border-radius: 5px;
    color: pink;
}
