.nav_container {
  display: flex;
  position: fixed;
  align-items: center;
  min-width: 100%;
  top: 0;
  left: 0;
  height: 85px;
  background-color: rgb(5, 42, 0);
}

.left_container {
  display: flex;
  align-items: center;
  min-width: 50%;
  min-height: 100%;
}

.right_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 50%;
  min-height: 100%;
}

.nav_button {
  height: 35px;
  width: 92px;
  padding: 5px;
  color: rgb(5, 42, 0);
  font-weight: bold;
  background-color: rgb(211, 179, 0);
  border: 3px solid black;
  margin-right: 20px;
}

.hidden {
    display:none;
}

.nav_button:hover{
    background-color: pink;
}
.search-container{
    margin-right: 50px;
    /* position: absolute; */
}

.search-none{
    position: absolute;
}

.search-card{
    background-color: pink;
    /* margin-top: 80px; */
}

.search-image{
    height: 50px;
    width: 50px;
}

.search-results {
    margin-top: 50px;
    position:absolute;
}
